<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KASHI || HOME</title>
    <link rel="stylesheet" href="/stylehome.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <div id="hui"> <img src="/PICTURE/KASHIYATRA JPEG.jpg" id="logo" alt="" style="height: 50px; width: 170px;">
        <nav>
          <ul class="nav">
            <li><a href="/profile/home">HOME</a></li>
            <li><a href="">HISTORY</a></li>
            <li><a href="">CONVENTIONAL CENTER</a></li>
            <li><a href="">EXPLORE</a></li>
            <li><a href="">MAP</a></li>
            <li><a href="">CITY HIGHLIGHTS</a></li>
            <li><a href="/profile/hotel">HOTEL BOOKING</a></li>    
            <li><a href="/profile">PROFILE</a></li>
            <li><a href="/auth/logout">LOGOUT</a></li>

        </ul>

        </nav>
        <div class="clear"></div>
    </div>
</header>

<section class="container-1">
    <div>
    <img src="/PICTURE/varanasi.jpg" alt="" width="100%" height="600px" style="opacity: 30%; position: relative;">
   <p id="death"> KASHI, THE CITY OF ULTIMATE LIBRATION, <br> BEACONS THE SEEKERS OF TRUTH. </p>
    
   <p id = "rest" >Varanasi or Banaras, mentioned in the scriptures as Kashi, is less of a city and more of a dreamy experience. It is a paragon of Indian culture, philosophy, traditions and spiritual ethos since times immemorial. It is among the Sapta Puries, meaning seven sacred cities of Ancient India. The city is located on the bank of River Ganga which has two tributaries in the city: Varuna and Assi; hence the name Varanasi. The combination of Kashi – the holy city, Ganga- the sacred river and Shiva- the supreme God, makes Varanasi an immortal destination. Today, Varanasi remains the hub of cultural and holy activities. In the field of learning, especially of Religion, Philosophy, Yoga, Ayurveda, Astrology, Dance and Music, the city is certainly unparalleled... </p>

</div>

</section>

<section>
    <!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "autoPlay": true }'>
    <div class="carousel-cell"> <div class="caro1">  <img src="/PICTURE/caro1.jpeg" alt="" width=500px height="300px"> </div></div>
    <div class="carousel-cell"><div class="caro2">  <img src="/PICTURE/caro2.jpg" alt="" width=500px height="300px"> </div></div>
    <div class="carousel-cell"><div class="caro3">  <img src="/PICTURE/caro3.jpg" alt="" width=500px height="300px"> </div></div>
    <div class="carousel-cell"><div class="caro3">  <img src="/PICTURE/caro4.jpg" alt="" width=500px height="300px"> </div></div>
    <div class="carousel-cell"><div class="caro3">  <img src="/PICTURE/caro3.jpg" alt="" width=500px height="300px"> </div></div>
  </div>
   
</section>
 <!-- what to do -->

<section>
    <div class="container-2">
    <img src="/PICTURE/section2bg.jpg" alt="" width="100%" height="860px">
<div class="wtd"><p><h2>What to do</h2></p></div>
<div class="varlies"><p style="color: rgb(89, 108, 124) ;">Varanasi lies in the state of Uttar Pradesh, halfway along the Ganges’ flow from the Himalaya to the Bay of Bengal. <br> <br>You can fly from Delhi in 80 minutes, but the 11-hour train ride is a wonderful journey.</p></div>

<div class="ghat"><img src="/PICTURE/ghat.jpg" alt="" width="100%" height="200px"><p class="walk">The walk on Ghat</p><p class="ghtdis">Banaras known for its Ghat plays a significant role <br> in the lives of its human beings. Most of which are <br> built after 1700 AD during the Maratha rule.</p>
</div>

<div class="food"><img src="/PICTURE/food.jpg" alt="" width="100%" height="200px"><p class="foodie">Foodie</p><p class="ftddis">Banaras has given some world famous recipe in both- <br> foods and drinks. The streets serves the wide varieties <br> depicting classic and cuisine culture of the city.</p>
</div> 

<div class="aarti"><img src="/PICTURE/aart.jpeg" alt="" width="100%" height="200px"><p class="foodie">Be a part of event</p><p class="aartdis">Every time of the day in Banaras is full of life and <br> events which enjoys a mixed culture of tradition, <br> heritage, spirituality, academics and cuisine.</p>
</div> 
 <!-- SECOND ROW -->
<div class="rel"><img src="/PICTURE/temple.jpg" alt="" width="100%" height="200px"><p class="walk">Har-Har Mahadev!!</p><p class="reldis">Banaras enjoys for being a religious capital of the <br> city to provide mix experience to its travelers. The <br> city  truly signifies the integrity of religion & culture.</p>
</div>

<div class="nature"><img src="/PICTURE/air.jpg" alt="" width="100%" height="200px"><p class="nau">Nature Troll</p><p class="ftddis">The city having religious importance offers some very <br> exciting nature and wildlife experience to its bustling <br> visitors at all times of the day.</p>
</div> 

<div class="acient"><img src="/PICTURE/sarnath.jpg" alt="" width="100%" height="200px"><p class="acc">Ancient Monuments</p><p class="aartdis">The Monuments of Banares are all time major tourist <br> attraction, much of which are located on the banks of <br> River Ganga and draws major attention.</p>
</div> 
</div>
</section>
   <!-- explore -->
 <section>
    <div class="container-3">
    
    <div class="wtd"><p><h2>Explore</h2></p></div>
    <div class="varlies"><p style="color: rgb(89, 108, 124);">When in Varanasi all you do is to LET GO. Every two seconds, your eye will catch something new and exciting.</p></div>



    <div class="bhu"><img src="/PICTURE/BHU.jpg" alt="" width="100%" height="140px" style="border-radius: 20px;" > BANARAS HINDU UNIVERSITY <br>
        <button type="button">Learn more</button> <hr> <a style="text-decoration: none; padding: 5px;" href="https://www.google.com/maps/place/Banaras+Hindu+University/@25.2677251,82.988297,16z/data=!4m6!3m5!1s0x398e322990b81d57:0x187c3decd33a8727!8m2!3d25.2677203!4d82.9912582!16zL20vMDNxNnpj?entry=ttu">LOCATION <img src="/PICTURE/bhumap.png" alt="" style="width: 100%; height: 130px;"></a> </div>
    

    <div class="ben"><img src="/PICTURE/beniya.jpg" alt="" width="100%" height="140px" style="border-radius: 20px;"> BENIYA PARK <br>
        <button type="button">Learn more</button> <hr> <a style="text-decoration: none; padding: 5px;" href="https://www.google.com/maps/place/Beniya+Park/@25.3145727,83.0030117,17z/data=!3m1!4b1!4m6!3m5!1s0x398e2e1b6bfce77f:0xacdb9ff67fcf058e!8m2!3d25.3145679!4d83.0055866!16s%2Fg%2F1tyzxd52?entry=ttu">LOCATION <img src="/PICTURE/Beniyamap.png" alt="" style="width: 100%; height: 130px;"></a> </div>

        <div class="conv"><img src="/PICTURE/conven.jpg" alt="" width="100%" height="140px" style="border-radius: 20px;"> CONVENTION CENTER <br>
            <button type="button">Learn more</button> <hr> <a style="text-decoration: none; padding: 5px;" href="https://www.google.com/maps/place/RUDRAKSH+-+International+Cooperation+and+Convention+Centre/@25.3129464,82.9858963,19z/data=!4m6!3m5!1s0x398e2d08d8ef9a75:0xb31db05252b78baa!8m2!3d25.3126801!4d82.9862088!16s%2Fg%2F11q8r_j5s5?entry=ttu">LOCATION <img src="/PICTURE/rudrmap.png" alt="" style="width: 100%; height: 130px;"></a> </div>

            <div class="assi"><img src="/PICTURE/assim.jpg" alt="" width="100%" height="140px" style="border-radius: 20px;"> ASSI GHAT <br>
                <button type="button">Learn more</button> <hr> <a style="text-decoration: none; padding: 5px;" href="https://www.google.com/maps/place/Assi+Ghat/@25.2886369,83.0064993,19z/data=!4m6!3m5!1s0x398e31edf14e0bb5:0x80b804534b43588c!8m2!3d25.2884674!4d83.0065123!16s%2Fm%2F0g544q1?entry=ttu">LOCATION <img src="/PICTURE/assimap.png" alt="" style="width: 100%; height: 130px;"></a> </div>


    

    </div>
    </div>
    

 </section>
<!-- footer -->

<footer>
<div class="container-5">
    <img id="varan" src="PICTURE/varanasi.jpg" alt="">
    <p class="ftvaran" >
        Varanasi Smart City, Uttar Pradesh <br>
        Address: 2nd Floor, Trinetra Bhavan <br> Sigra, Varanasi - 221010, Uttar Pradesh <br>
        Phone : +91 6391-001563 <br>
        E-Mail: mail@varanasismartcity.gov.in </p>
        
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-twitter"></a>

        <h2 class="ftexphe">EXPLORE VARANASI</h2>
        
            <li class="ftexp ftexp-B"><a href="">BANARAS HINDU UNIVERSITY</a></li>
            <li class="ftexp ftexp-BP"><a href="">BENIYA PARK</a></li>
            <li class="ftexp ftexp-AG"><a href="">ASSI GHAT</a></li>
            <li class="ftexp ftexp-CC"><a href="">CONVENTION CENTER</a></li>

            <h2 class="ftuselhe">USEFUL LINKS </h2>
        
            <a class="ftusel ftusel-T" href="">Terms of use</a> 
            <a class="ftusel ftusel-P" href=""> PRIVACY POLICY</a> 
            <a class="ftusel ftusel-F" href=""> FAQ</a> 
            
            <h2 class="ftcontushe"> CONTACT US </h2>
        
            <a class="ftcontus ftcontus-P" href="">Feedback</a> 
            <a class="ftcontus ftcontus-C" href=""> Call us at: <br> 0524-342532 <br> 1800453612</a> 
            <a class="ftcontus ftcontus-AD" href="">ALL DAY || 24X7</a> 
            <a class="ftcontus ftcontus-MAIL" href=""> mail@varanasismartcity@gmail.com</a> 
            
            
            <div class="copyright">
                Copyright 2019 · Kashiyatra. All rights reserved
            </div>


    
        


</div>



</footer>
 
 
 
    



    
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

</body>
</html>